*{margin: 0;
   padding: 0;}
   header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
   }
   .logo{width: 200px;}
   .logo img{
    width: 100%;
    text-decoration: none;
    gap: 20px;}
    .nav-links{
        display: flex;
        gap: 20px;
    }
    .nav-links li a{
        display: flex;
        color: white;
        text-decoration: none;
    }
    .right{
        display: flex;
        align-items: center;
        gap: 100px;
    }
    .btn{align-items: center;
         display: flex;
        gap: 30px;
    justify-content: space-around;}
    .btn button{
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        padding: 20px 20px;
        border-radius: 35px;
    }
    #order{
        background-color: red;
        padding-left: 10px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .red{color: red !important;
    background-color: white;
padding: 5px;
border-radius: 30px;}