* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
}

@font-face {
    font-family: "futurak";
    src: url(futurak.ttf);
}

header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
    text-decoration: none;
    gap: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li a {
    display: flex;
    color: white;
    text-decoration: none;
}

.right {
    display: flex;
    align-items: center;
    gap: 100px;
}

.btn {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.btn button {
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 20px;
    border-radius: 35px;
}

#order {
    background-color: red;
    padding-left: 10px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.red {
    color: red !important;
    background-color: white;
    padding: 5px;
    border-radius: 30px;
}

/* banner */
img {
    width: 100%;
}

.image img {
    width: 100%;
}

/* brands */
.content {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 30px;
}


/* images of brands */
.brands {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 0px;
    background-color: black;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

#picture {
    background-color: white;
    width: 100%;
}

#image {
    background-color: white;
    width: 100%;
}

#photo {
    background-color: white;
    width: 100%;
}

#pic {
    background-color: white;
    width: 80%;
}

.btns {
    border-radius: 50px;
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    margin-left: 70px;
    margin-right: 50px;
}

/* islamabad */

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Isbcontent {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px;
}

.isb {
    width: 30%;
    display: flex;
}

.leftcontent {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

.highlight {
    color: red;
    letter-spacing: 8px;
    font-size: 30px;
}

#Restaurant {
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
}

.heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.change {
    font-family: butler;
    font-size: 70px;
}

/* Faislabad */
.fsbd img{display: flex;
    width: 500px;;}
    

    

.faislabad{
    
    background-color: black;
    color: white;
    padding: 10%;
    justify-content: space-around;
    vertical-align: middle;
    display: flex;
}

/* bahawalpur */
.bahawalpur{background-color: black;
color: white;
display: flex;
justify-content: space-around;
vertical-align: middle; 
padding: 5%;
}

.bhwlpur {
    width: 50%;
    display: flex;}
    .leftcontent.click{
         padding: 5px;
    border-radius: 30px;
    }
   .click{
    border-radius: 50px;
    width: 170px;
    height: 50px;
    border: 1px solid;
    font-family: 'poppins';
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 15px;
   }
   .arrow{
    padding: 8px 8px 6px;
    border-radius: 30px;
    margin-left: 10px;
    background-color: white;
    color: red;
   }
   /* container */
   .express content{
    background-color: black;
    color: white;
    align-items: center;
    padding: 100px 40px;
    
   }
   .sargodha{
    
    background-color: black;
   }
   .sargodha img{
    width:100%;
    margin-top: 30px;
    background-color: black;
   }
   .name{
    color: red;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    font-size: 14px;
    margin-top: 20px;

   }
   .center{
    text-align: center;
   }
#salt{
     font-family: 'futurak';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    
}
.mid{
    text-align: center;
}
.container{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    margin-top: 50px;
    

}
.down{
    display: flex;
    background-color: black;
    color: white;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 40px;
    

}
.burewala{
    width: 30%;
    /* justify-content: center; */
    vertical-align: middle;
    margin-left: 35%;
    margin-top: 30px;
}
/* opening soon */

.village1{
    background-color: white;
    color: black;
     display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    text-align: center;
}
.village1 img{width: 30%;
    margin-top: 20px;
}
small{
    color: red;
}
/* village2 */
.village2{
    background-color: white;
    color: black;
     display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    text-align: center;
     
    
}
.village2 img{
    width: 30%;
    margin-top: 20px;

}
.village3{
     background-color: white;
    color: black;
     display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    text-align: center;
}
.village3 img{
    width: 30%;
    margin-top: 20px;

}
.soon{
    display: flex;
    justify-content: space-around;
    padding: 40px 170px;
}
.para{
    color: white;
    
     padding-bottom: 30px;
    padding-top: 30px;
    
    font-family: apercu;
    /* font-size: 14px; */
    
    
    display: flex;
    flex-direction: column; */
    /* padding-left: 40px;
     */
    
    
}
.anchor{
    
    
    text-decoration: none;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* gap: 30px; */
    margin-top: 30px;
    color: white;
    list-style: none;
    /* margin-left: 10px; */
    cursor: pointer;
}
.foot{
    width: 200px;
}
.foot img{
    width: 100%;
    text-decoration: none;
    gap: 20px;
    margin-top: 80px;
    margin-left: 40px;

}
h3{
    color: white;
}

.site{
    text-decoration: none;
}
.info{
    color: white;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}



 
